.questions {
  padding-top: 130px;
  padding-bottom: 130px;
}

.questionsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionsContentSubTitle {
  color: rgba(37, 72, 135, 1);
  font-family: "DM Sans";
  font-style: Bold;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}

.questionsContentTitle {
  color: rgba(15, 33, 55, 1);
  font-family: "DM Sans";
  font-style: Bold;
  font-size: 36px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -1.5px;
}

.faqs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 90px;
}

.faqItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-bottom: 3px solid rgba(229, 236, 244, 1);
  padding-bottom: 10px;
  padding-top: 15px;
  width: 100%;
}

.faqButton {
  display: flex;
  align-items: center;
  gap: 15px;
  border: none;
  background: none;
  cursor: pointer;
  color: rgba(15, 33, 55, 1);
  font-family: "DM Sans";
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.5px;
}

.bgIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: rgba(63, 219, 177, 1);
  border-radius: 100%;
}

.faqAnswer {
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  overflow: hidden;
  transition: all 1s ease;
  color: rgba(52, 61, 72, 1);
  font-family: "DM Sans";
  font-style: "Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  padding-left: 50px;
}

.faqAnswer.show {
  max-height: 300px;
  opacity: 1;
  transform: translateY(0);
}
