.quality {
  padding-top: 165px;
}

.qualityContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qualityContentPodTitle {
  color: rgba(36, 72, 134, 1);
  font-family: " DM Sans";
  font-style: Bold;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}

.qualityContentTitle {
  color: rgba(15, 33, 55, 1);
  font-family: "DM Sans";
  font-style: Bold;
  font-size: 36px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -1.5px;
}

.qualityCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 70px;
}

.qualityCard {
  display: flex;
  align-items: center;
  gap: 25px;
}

.bgIcon {
  padding: 25px 30px;
  border-radius: 20%;
}

.qualityCardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.qualityCardContentTitle {
  color: rgba(15, 33, 55, 1);
  font-family: "DM Sans";
  font-style: Bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
}

.qualityCardContentItem {
  color: rgba(52, 61, 72, 1);
  font-family: "DM Sans";
  font-style: "Regular";
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  width: 265px;
}
