.headerSection {
  padding-top: 30px;
}

.headerSectionContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBar {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navBarItem {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgba(255, 255, 255, 1);
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navBarItem:hover {
  color: rgb(0, 204, 255);
}

.logoBlock {
  display: flex;
  align-items: flex-end;
  gap: 15px;
  transition: transform 0.3s ease;
}

.logoBlock:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.logoBlockTitle {
  color: rgba(255, 255, 255, 1);
  font-family: "Poppins";
  font-style: Bold;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
}

.headerSectionContentBtn {
  border: 1.5px solid rgba(255, 255, 255, 1);
  border-radius: 50px;
  padding: 12px 30px;
  background: none;
  color: rgba(255, 255, 255, 1);
  font-family: "DM Sans";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.16px;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
}

.headerSectionContentBtn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
