.features {
  padding-top: 65px;
}

.featuresContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featuresContentPodTitle {
  color: rgba(36, 72, 134, 1);
  font-family: "DM Sans";
  font-style: Bold;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}

.featuresContentTitle {
  color: rgba(15, 33, 55, 1);
  font-family: "DM Sans";
  font-style: Bold;
  font-size: 36px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -1.5px;
}

.featuresCards {
  display: flex;
  align-items: center;
  gap: 100px;
  padding-top: 80px;
}

.featuresCardsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.bgPicture {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 35px;
  border-radius: 20%;
}

.featuresCardsItemTitle {
  color: rgba(15, 33, 55, 1);
  font-family: "DM Sans";
  font-style: Bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
}

.featuresCardsItemDescription {
  color: rgba(52, 61, 72, 1);
  font-family: "DM Sans";
  font-style: "Regular";
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  width: 265px;
}
