.customers {
  padding-top: 105px;
}

.titleSect {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
}

.customersContentPodTitle {
  color: rgba(36, 72, 134, 1);
  font-family: "DM Sans";
  font-style: Bold;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}

.customersContentTitle {
  color: rgba(15, 33, 55, 1);
  font-family: "DM Sans";
  font-style: Bold;
  font-size: 36px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -1.5px;
}

.customer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 40px;
  box-shadow: 0px 6px 47px 0px rgba(38, 78, 118, 0.1);
  background: rgba(255, 255, 255, 1);
}

.customerTitle {
  margin-top: 5px;
  color: rgba(52, 61, 72, 1);
  font-family: "DM Sans";
  font-style: Bold;
  font-size: 16px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0px;
}

.customerItem {
  color: rgba(52, 61, 72, 1);
  font-family: "DM Sans";
  font-style: "Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0px;
  width: 368px;
}

.customerInfo {
  display: flex;
  align-items: center;
  padding-top: 35px;
  gap: 20px;
}

.customerText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.customerTextTitle {
  color: rgba(15, 33, 55, 1);
  font-family: "DM Sans";
  font-style: Bold;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.4px;
}

.customerTextLink {
  color: rgba(37, 160, 255, 1);
  font-family: "DM Sans";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.38px;
}

.controlSwiper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 50px;
}

.prevBtn,
.nextBtn {
  color: #888;
  font-size: 28px;
  cursor: pointer;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.prevBtn:hover,
.nextBtn:hover {
  color: #000;
  transform: scale(1.1);
}
