.results {
  padding-top: 200px;
  background: url("/src/img/bg-pattern.png") no-repeat left 300px / cover;
}

.resultsContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resultsContentText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.resultsContentTextPodTitle {
  color: rgba(36, 72, 134, 1);
  font-family: "DM Sans";
  font-style: Bold;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}

.resultsContentTextTitle {
  color: rgba(15, 33, 55, 1);
  font-family: "DM Sans";
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -1.5px;
  width: 510px;
}

.resultsAdvantages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}

.resultsAdvantage {
  display: flex;
  align-items: center;
  gap: 20px;
  transition:
    box-shadow 0.3s ease,
    background-color 0.3s ease;
  padding: 30px 25px;
  border-radius: 20px;
}

.resultsAdvantage:hover {
  box-shadow: 0px 8px 24px 0px rgba(69, 88, 157, 0.07);
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.bgAdvantagePicture {
  padding: 15px;
  background: rgba(255, 69, 80, 0.2);
  border-radius: 40%;
}

.bgAdvantageText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.bgAdvantageTextTitle {
  color: rgba(15, 33, 55, 1);
  font-family: "DM Sans";
  font-style: Bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
}

.bgAdvantageTextItem {
  color: rgba(52, 61, 72, 1);
  font-family: "DM Sans";
  font-style: "Regular";
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  width: 355px;
}
