.tutorial {
  background-color: rgba(34, 67, 125, 1);
  padding-top: 90px;
  padding-bottom: 160px;
}

.tutorialContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tutorialContentPodTitle {
  color: rgba(255, 255, 255, 1);
  font-family: "DM Sans";
  font-style: Bold;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}

.tutorialContentTitle {
  color: rgba(255, 255, 255, 1);
  font-family: "DM Sans";
  font-style: Bold;
  font-size: 36px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -1.5px;
}

.stages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding-top: 150px;
}

.stage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  height: 300px;
}

.stageStep {
  color: rgba(34, 67, 125, 1);
  font-family: "Lexend Deca";
  font-style: "Regular";
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
  padding: 20px 35px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20%;
}

.stageTitle {
  color: rgba(255, 255, 255, 1);
  font-family: "DM Sans";
  font-style: Bold;
  font-size: 22px;
  font-weight: 700;
  line-height: 155%;
  letter-spacing: 0px;
  width: 265px;
}

.stageItem {
  color: rgba(255, 255, 255, 1);
  font-family: "DM Sans";
  font-style: "Regular";
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  width: 265px;
  opacity: 0.65;
}
